@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Menu Styles */
.bg-light{
    background-image: url(/src/img/Menu-bg.jpg);
    background-size: cover;
    background-position: center;
}

.nav-link{
    font-family: 'Cantata One', serif;
    color: rgb(255, 255, 255) !important;
    font-size: 1.1rem;
}

.navbar-brand{
    font-family: 'Cantata One', serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255) !important;
}

.navbar-light .navbar-toggler{
    border-color: rgb(255, 255, 255) !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(/src/img/menu-icon-white.png);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #E5A30C !important;
    transition: 0.5s;
}




@media (max-width: 991px){
    .bg-light{
        background-color: #461106;
        background-size: cover;
        background-position: center;
    }

    .nav-link{
        font-family: 'Cantata One', serif;
        color: rgb(255, 255, 255) !important;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
    }
}